PORT = "3000"


DB_ROOT_USERNAME = "Your root username"
DB_ROOT_PASSWORD = "Your root password"
DB_PORT = "27017"
MONGO_URI = "mongodb://${DB_ROOT_USERNAME}:${DB_ROOT_PASSWORD}@localhost:${DB_PORT}/blog?authSource=admin"


JWT_SECRET = "Your secret key"
EXPIRES_IN = "1h"